.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
}

.inline {
    margin: 0;
    color: #007bff;
}

.inline + .inline{
    margin-left: 20px;
}

.flex {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.route-list {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    color: #007bff;
}

.order {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order:last-child {
    border-bottom: none;
}

.order-info {
    flex: 1;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
}
form input[type="text"],
form input[type="number"],
form input[type="date"],
form select,
form input[type="submit"]  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button  {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: #0056b3;
}

form input[type="submit"]  {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}