<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пассажирское автопредприятие</title>
    <link rel="stylesheet" href="add.css" />
</head>
<body>

<div class="container">
    <h2 style="text-align: center">Добавление автобуса</h2>

    <form id="busForm">
        <div class="form-group">
            <label for="brand">Марка автобуса:</label>
            <input type="text" id="brand" name="brand" required>
        </div>
        <div class="form-group">
            <label for="state_number">Гос номер:</label>
            <input type="text" id="state_number" name="state_number" required>
        </div>
        <div class="form-group">
            <label for="tail_number">Бортовой номер:</label>
            <input type="number" id="tail_number" name="tail_number" required>
        </div>
        <input type="submit"/>
    </form>
</div>


</body>
</html>