<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пассажирское автопредприятие</title>
    <link rel="stylesheet" href="add.css" />
</head>
<body>

<div class="container">
    <h2 style="text-align: center">Добавление маршрута</h2>

    <form id="busForm">
        <div class="form-group">
            <label for="start_route">Начало маршрута:</label>
            <input type="text" id="start_route" name="start_route" required>
        </div>
        <div class="form-group">
            <label for="end_route">Конец маршрута:</label>
            <input type="text" id="end_route" name="end_route" required>
        </div>
        <div class="form-group">
            <label for="dispatch_time">Время отправления:</label>
            <input type="text" id="dispatch_time" name="dispatch_time" required>
        </div>
        <div class="form-group">
            <label for="arrival_time">Время прибытия:</label>
            <input type="text" id="arrival_time" name="arrival_time" required>
        </div>

        <input type="submit"/>
    </form>
</div>


</body>
</html>