<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пассажирское автопредприятие</title>
  <link rel="stylesheet" href="add.css" />
</head>
<body>

<div class="container">
  <h2 style="text-align: center">Добавление сотрудника</h2>

  <form id="Form">
    <div class="form-group">
      <label for="full_name">Фамилия Имя Отчество:</label>
      <input type="text" id="full_name" name="full_name" required>
    </div>
    <div class="form-group">
      <label for="date_of_birth">Дата рождения:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" required>
    </div>
    <div class="form-group">
      <label for="phone_number">Номер телефона:</label>
      <input type="text" id="phone_number" name="phone_number" required>
    </div>
    <div class="form-group">
      <label for="address">Адрес:</label>
      <input type="text" id="address" name="address" required>
    </div>
    <div class="form-group">
      <label for="passport_details">Паспортные данные:</label>
      <input type="text" id="passport_details" name="passport_details" required>
    </div>
    <div class="form-group">
      <label for="work_book_number">Номер трудовой книжки:</label>
      <input type="text" id="work_book_number" name="work_book_number" required>
    </div>
    <input type="submit"/>
  </form>
</div>


</body>
</html>