<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <head>
    <meta charset="UTF-8">
    <title>Пассажирское Автопредприятие</title>
    <link rel="stylesheet" href="update.css" />
  </head>
<body>

<div class="container">
  <h2 style="text-align: center">Удаление данных</h2>

  <form>
    <div class="form-group">
      <label for="id_category_post">Уникальный номер котегории должностей</label>
      <select id="id_category_post" name="id_category_post">
        <div th:each = "CategoryPost : ${CategoryPost}">
          <option th:text = "${CategoryPost.id_category_post}"></option>
        </div>
      </select>
    </div>
    <input type="submit"/>
  </form>

</div>

</body>
</html>