<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="navigation.css" />
</head>

<body>
<header>
  <nav th:fragment="navig">
    <ul class="navigation">
      <li class="navigation-item"><a href="home" class="navigation-link"> &#8592; назад</a></li>
      <li class="navigation-item"><a href="Waybill" class="navigation-link">Путевой лист</a></li>
      <li class="navigation-item"><a href="requestOne" class="navigation-link">Запрос 1</a></li>
      <li class="navigation-item"><a href="requestTwo" class="navigation-link">Запрос 2</a></li>
      <li class="navigation-item"><a href="requestThree" class="navigation-link">Запрос 3</a></li>
      <li class="navigation-item"><a href="requestFour" class="navigation-link">Запрос 4</a></li>
    </ul>
  </nav>
</header>
</body>
</html>