<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="navigation.css" />
</head>

<body>
<header>
    <nav th:fragment="nav">
        <ul class="navigation">
            <li class="navigation-item"><a href="home" class="navigation-link"> &#8592; назад</a></li>
            <li class="navigation-item"><a href="Bus" class="navigation-link">Автобусы</a></li>
            <li class="navigation-item"><a href="Staff" class="navigation-link">Персонал</a></li>
            <li class="navigation-item"><a href="Route" class="navigation-link">Маршрут</a></li>
            <li class="navigation-item"><a href="RouteSheet" class="navigation-link">Маршрутный лист</a></li>
            <li class="navigation-item"><a href="Interchange" class="navigation-link">Смены</a></li>
            <li class="navigation-item"><a href="ListPosition" class="navigation-link">Список должностей</a></li>
            <li class="navigation-item"><a href="Post" class="navigation-link">Должность</a></li>
            <li class="navigation-item"><a href="CategoryPost" class="navigation-link">Категория должностей</a></li>
        </ul>
    </nav>
</header>
</body>
</html>