<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="request.css" />
    <link rel="stylesheet" href="navigation.css" />
</head>
<body class="flex">
<header>
    <nav th:insert="~{nav::navig}"/>
</header>
<div class="container">
    <form>
        <div class="form-group">
            <label for="id_route">Уникальный номер маршрута</label>
            <select id="id_route" name="id_route">
                <div th:each = "Route : ${Route}">
                    <option th:text = "${Route.id_route}"></option>
                </div>
            </select>
        </div>
        <div class="form-group">
            <label for="date_g">Дата:</label>
            <input type="date" id="date_g" name="date_g">
        </div>
        <input type="submit" value="Вывести результаты"/>
    </form>

</div>

<div class="route-list" th:each = " requestTwo : ${requestTwo}">
    <h2>Информация об автобусе</h2>
    <div class="order">
        <div class="order-info">
            <p><strong>Уникальный номер маршрута:</strong><p th:text = "${requestTwo.id_route}" ></p></p>
            <p><strong>Дата:</strong><p th:text = "${requestTwo.date_g}" ></p></p>
            <p><strong>Марка автобуса:</strong><p th:text = "${requestTwo.brand}" ></p></p>
            <p><strong>Бортовой номер:</strong><p th:text = "${requestTwo.tail_number}" ></p></p>
            <p><strong>Гос номер:</strong><p th:text = "${requestTwo.state_number}" ></p></p>
        </div>
    </div>
</div>
</body>
</html>